extends layout

block content
  .fade-in.delay-1.box
    .porthole
      canvas(id='bubble', height='300', width='300')
        p.noCanvas
          |You need a
          a(href="http://www.google.com/chrome")='modern browser'
          |to view this.
    img(src='/img/fizzWords2.png')
  h2.fade-in.delay-3.tagline
    |Stop Waiting.  Start Creating.
  ul.sections
    li
      a.fade-slide-top.delay-5(href='/services/')='Services'
    li
      a.fade-slide-top.delay-5-2(href='/creations/')='Creations'
    li
      a.fade-slide-top.delay-5-4(href='/contact/')='Contact'
  .contact
    a(href='https://twitter.com/intent/tweet?screen_name=aprilandjake')='@aprilandjake'